$col-1:calc(100% / 12);
$col-2:calc(100% / 12 * 2);
$col-3:calc(100% / 12 * 3);
$col-4:calc(100% / 12 * 4);
$col-5:calc(100% / 12 * 5);
$col-6:calc(100% / 12 *6);
$col-7:calc(100% / 12 * 7);
$col-8:calc(100% / 12 * 8);
$col-9:calc(100% / 12 * 9);
$col-10:calc(100% / 12 * 10);
$col-11:calc(100% / 12 * 11);
$col-12:calc(100% / 12 * 12);

@mixin Htext ($hmarbottom) {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    letter-spacing: 0.2px;
    /* text-color */
    color: #252B42;
    margin-bottom: $hmarbottom;
}

@mixin text($mbottom) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* second-text-color */
    margin: 10px 70px;
    color: #737373;
    margin-bottom: $mbottom;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 0.4s;
}
html,body{
    scroll-behavior: smooth;
}
.m-auto {
    margin: auto;
}

.container {
    width: 1120px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

header {
    width: 100%;
    height: auto;
    background: url(./image/header-img/header-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 85px;
    position: relative;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px ;


        .logo {
            a {

                font-weight: 700;
                font-size: 28px;
                line-height: 35px;
                /* identical to box height, or 133% */

                letter-spacing: 0.1px;

                /* text-color */
                color: #F15525;

                span {
                    color: #02c23b;
                    font-size: 35px;
                }
            }
        }

        ul {
            display: flex;

            li {
                margin-left: 26px;

                a {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    /* identical to box height, or 171% */

                    text-align: center;
                    letter-spacing: 0.2px;

                    /* second-text-color */

                    color: #737373;
                }
            }
        }
    }

    .header-item {
        width: $col-12;
        padding: 0 -15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;

        .header-price {
            width: $col-6;
            padding: 0 -15px;
            z-index: 2;

            h2 {
                font-weight: 500;
                font-size: 50px;
                line-height: 65px;
                /* or 112% */

                letter-spacing: 0.2px;

                /* text-color */

                color: #252B42;
                margin-bottom: 20px;

                span {
                    font-weight: 700;
                }
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                /* or 150% */

                letter-spacing: 0.2px;

                /* second-text-color */
                margin-bottom: 20px;
                color: #737373;
            }

            a {
                padding: 10px 36px;
                /* secondary-color-2 */
                border: 1px solid #F15525;
                background: transparent;
                border-radius: 37px;
                font-weight: 700;
                font-size: 14px;
                line-height: 28px;
                /* identical to box height, or 200% */

                text-align: center;
                letter-spacing: 0.2px;

                /* light-text-color */

                color: #F15525;

                &:hover {
                    background: #F15525;
                    color: #fff;
                }

            }

        }

        .header-img {
            position: absolute;
            right: 76px;
            z-index: 1;

            img {
                width: 120%;
            }
        }


    }
}


/* To'lov */

section.price {
    padding: 80px 0;

    h2 {
        @include Htext(10px)
    }

    h4 {
        @include text(60px);

    }

    .row {
        justify-content: space-between;

        .price-item {
            width: 32%;
            box-shadow: 0 15px 10px rgb(194, 194, 194);
            padding: 30px 0;
            text-align: center;
            border-radius: 5px;

            &:hover {
                background: #295C7A;
            }

            i {
                font-size: 40px;
                margin-bottom: 10px;
                color: #295C7A;
            }

            &:hover i {
                color: #fff;
            }

            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */
                text-align: center;
                letter-spacing: 0.1px;
                /* text-color */
                color: #252B42;
            }


        }
    }

}

section.portfolio {
    background: #FAFAFA;
    padding: 100px 0;

    h2 {
        @include Htext(10px);

    }

    .port-p {
        @include text(45px);

    }

    .row {
        justify-content: space-between;

        .portfolio-item {
            width: 23.5%;
            background: #fff;
            overflow: hidden;

            h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                letter-spacing: 0.1px;
                padding: 30px 40px 0 30px;
                /* text-color */
                margin-bottom: 10px;
                color: #252B42;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                /* or 143% */

                letter-spacing: 0.2px;
                padding: 0 30px;
                /* second-text-color */
                margin-bottom: 15px;
                color: #737373;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.port-img{
    padding:  75px 0;
    .container{
        h2{
            @include Htext(25px);
            text-align: center;
        }

    }
    
    
}

footer{
    width: 100%;
    padding: 50px 0;
    background: #295C7A;
    .container{
        .footer-item{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            ul{
                width:30%;
                li{
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    a{
                        color: #a1d8f8;
                        font-size: 17px;
                        font-weight: 400;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

        }
    }
}